* {
    font-family: "papyrus", Arial, sans-serif;
}

body {
    background-color: pink;
    margin: 100px;
    padding: 100px;
    border: 5px solid red;
}

h1, h2 , p {
    background-color: white;
}

h1 {
    text-align: center;
    font-weight: 800;
}

figure {
    margin: 50px 200px;
    padding: 50px 200px;
    border: 0;
}